mkdocs~=1.2
mkdocs-exclude
mkdocs-material
mkdocs-minify-plugin
#mkdocs-drawio-exporter
mkdocs-git-revision-date-localized-plugin
mkdocs-git-authors-plugin
mkdocs-print-site-plugin
mkdocs-localsearch
mkdocs-literate-nav

plantuml-markdown
markdown-include
