mkdocs==1.6.0
mkdocs-exclude==1.0.2
mkdocs-material==9.5.16
#mkdocs-drawio-exporter
mkdocs-git-revision-date-localized-plugin==1.2.4
mkdocs-git-authors-plugin==0.8.0
mkdocs-print-site-plugin==2.4.0
mkdocs-literate-nav==0.6.1
mkdocs-jupyter==0.24.7

plantuml-markdown==3.9.6
markdown-include==0.8.1
