name: Post-deploy Test

on:
  workflow_call:

jobs:
  test1:
    name: Test on GitHub Container Registry
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Run action
        uses: ./test/test_on_ghcr/
        with:
          src: .
          dst: ./result
          language: en
          primary-color: black
          secondary-color: red
          hide-repository: false
          title: Title
      - name: Verify result
        run: |
          test ! -z "$(ls -A ./result)"
  test2:
    name: Test on Docker Hub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Run action
        uses: ./test/test_on_hub/
        with:
          src: .
          dst: ./result
          language: en
          primary-color: black
          secondary-color: red
          hide-repository: false
          title: Title
      - name: Verify result
        run: |
          test ! -z "$(ls -A ./result)"
    
